#loader {
    position: absolute;
    left: 52%;
    top: 55%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }

  #loader .txt {
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    position: relative;
    top: -320px;
    left: -80px;
  }

  #loader .load {
    border: 20px solid black;
    width: 80px;
    height: 80px;
    z-index: 3;
    position: relative;
    -webkit-animation: 2s infinite ease-in-out load;
    animation: 2s infinite ease-in-out load;
  }
  
  @-webkit-keyframes load {
    0% { 
      width: 80px;
      height: 80px;
      transform: rotate(0deg); 
      top: 50px;
      left: -40px;
      border-radius: 0px;
    }
    25% {
      width: 65px;
      height: 65px;
      top: 50px;
      left: 40px;
      border-radius: 10px;
    }
    50% {
      width: 80px;
      height: 80px;
      top: 100px;
      left: 40px;
      border-radius: 0px;
    }
    75% {
      width: 65px;
      height: 65px;
      top: 100px;
      left: -40px;
      border-radius: 10px;
    }
    100% { 
      width: 80px;
      height: 80px;
      transform: rotate(360deg); 
      top: 50px;
      left: -40px;
      border-radius: 0px;
    }
  }

  @keyframes load {
    0% { 
      width: 80px;
      height: 80px;
      transform: rotate(0deg); 
      top: 50px;
      left: -40px;
      border-radius: 0px;
    }
    25% {
      width: 65px;
      height: 65px;
      top: 50px;
      left: 40px;
      border-radius: 10px;
    }
    50% {
      width: 80px;
      height: 80px;
      top: 100px;
      left: 40px;
      border-radius: 0px;
    }
    75% {
      width: 65px;
      height: 65px;
      top: 100px;
      left: -40px;
      border-radius: 10px;
    }
    100% { 
      width: 80px;
      height: 80px;
      transform: rotate(360deg); 
      top: 50px;
      left: -40px;
      border-radius: 0px;
    }
  }

  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #pageContent {
    display: none;
    text-align: center;
  }